/* h1 {
    color: white;
} */

* {
    color: white;
    font-family: spotify-circular, ;
}

button {
    padding: auto;
}

.container {
    align-items: center;
}

body {
    text-align: center;
    background-color: black;
}

button {
    color: black;
}

input {
    color: black;
}