/* h1 {
    color: white;
} */

* {
    color: black;
    font-family: spotify-circular, ;
}

button {
    padding: auto;
}

.container {
    align-items: center;
}

body {
    text-align: center;
    background-color: #ECF2E2;
}

button {
    padding: 5px;
}

.button-wrapper {
    padding: 5px;
}

input {
    height: 50px;
}

 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    white-space: pre-line;
    position: relative;
    top: -7px;
    text-align: center;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    white-space: pre-line;
    position: relative;
    top: -7px;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    white-space: pre-line;
    position: relative;
    top: -7px;
}

 :-moz-placeholder {
    /* Firefox 18- */
    white-space: pre-line;
    position: relative;
    top: -7px;
}